opencv-python-headless==4.6.0.66  # Ensure compatibility
numpy>=1.26.0  # Keep this updated
keras==2.12.0  # Use Keras version compatible with TensorFlow 2.18.0
tensorflow==2.18.0  # Use the version that matches your Python version
streamlit==1.39.0
Pillow==10.4.0
tensorboard==2.18.0
